body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

main {
    padding: 60px 0;
}

.feature {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.feature:hover {
    background-color: #ced6de; /* Change the background color on hover */
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.custom-header {
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-logo {
    max-width: 10;
    height: 10;
}

.header-logo {
    max-width: 150px;
    height: auto;
}

.countdown-timer {
    font-size: 24px;
    margin-top: 20px;
}

body {
    background-color: lightblue;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
}

.card-body{
    min-height: 300px;
    background-color: white;
    padding: 50px !important;
}

#row-2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

#row-2 {
    margin-top: 5%;
    margin-bottom: 5%;
}